.articles {
  padding: 56px 0 40px 0;

  &__title {
    text-align: center;
  }

  &__container {
    position: relative;
  }

  &__cards {
    @include flex(column, flex-start, flex-start, nowrap);
    max-height: 1950px;
    overflow: hidden;
  }
}

.card {
  @include flex(column, center, center, nowrap);

  &__title {
    margin: 20px 0 42px 0;
    @extend %font-additional-1;
    @include font(normal, 500, 2.2rem, 2.6rem);
    text-align: center;
    max-width: 262px;
  }

  &__img {
    width: 335px;
    height: 194px;
  }
}
