.articles {
  padding: 56px 0 40px 0;

  &__title {
    text-align: center;
    @include media-desktop {
      font-size: 44px;
      line-height: 52px;
    }
  }

  &__container {
    position: relative;
    @include media-desktop {
      @include flex(column, center, center, nowrap);
    }


  }

  &__cards {
    @include flex(column, flex-start, flex-start, nowrap);
    @include media-desktop {
      max-width: 740px;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 28px;
    }
  }
}

.card {
  @include flex(column, flex-start, center, nowrap);

  &__title {
    margin: 20px 0 42px;
    @extend %font-additional-1;
    @include font(normal, 500, 2.2rem, 2.6rem);
    text-align: center;
    max-width: 262px;
  }

  &__img {
    width: 335px;
    height: 194px;
  }
}
