.footer {
  background-color: $color-dark;
  color: $color-light;
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 22px 0 32px 0;
  @include media-desktop {
    max-width: $desktop-width;
  }

  &__string {
    position: absolute;
    width: 100vw;
    @extend %font-additional-1;
    @include font(normal, 800, 1.6rem, 2.8rem);
    text-transform: uppercase;
    display: flex;
    gap: 18px;
    overflow: hidden;
    letter-spacing: 4.2px;
    @include media-desktop {
      font-size: 20px;
    }
  }

  &__container {
    text-align: center;
    @include flex(column, center, center, nowrap);
  }

  &__logo {
    padding: 153px 0 25px 0;
  }

  &__subtitle {
    max-width: 287px;
    margin: 0 auto;
    @extend %font-tertiary;
    @include font(normal, 200, 1.4rem, 1.8rem);
    text-align: center;
    @include media-desktop {
      max-width: 488px;
      @include font(normal, 400, 1.6rem, 2.4rem);
    }
  }

  &__social {
    @include flex(row, center, center, nowrap);
    padding: 32px 0 64px 0;
  }
}

.dim-string {
  font-weight: 400;
}

.dim-string, .bright-string {
  white-space: nowrap;
}

.social-item {
  margin: 0 20px 0 20px;
}

.social-link {
  @extend %font-additional-1;
  @include font(normal, 500, 1.3rem, 2.2rem);
  text-align: center;
  color: $color-light;
  @include media-desktop {
    @include font(normal, 500, 1.6rem, 2.7rem);
  }
}

.copyright {
  @extend %font-additional-1;
  @include font(normal, 500, 1.3rem, 2.2rem);
  text-align: center;
  margin: 0;
}



