.header {
  padding: 19px 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  @include media-desktop {
    padding: 48px 0 42px 0;
  }

  &__container {
    @include flex(row, space-between, center, nowrap);
  }

  &__logo {
    flex-shrink: 3;
    @include flex(row, center, center, nowrap);
  }

  &__hamburger {
    @include media-desktop {
      display: none;
    }
  }

  &__navigation {
    display: none;
    @include media-desktop {
      display: block;
      flex-shrink: 2;
    }
  }
}

.navigation {
  margin: 0;
  @include flex(row, space-between, center, wrap);
  gap: 36px;

  &__item {
    list-style-type: none;
    position: relative;
    z-index: 0;
    &:hover {
      &:after {
        content: '';
        position: absolute;
        background-color: $color-dark;
        width: 110%;
        height: 2px;
        bottom: -54px;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $color-dark;
    @extend %font-tertiary;
    @include font(normal, 500, 2.0rem, 1.4rem);
    text-transform: uppercase;
  }
}

.logo__ref {
  @include flex(row, center, center, nowrap);
  width: 217px;
  height: 20px;
  @include media-desktop {
    width: 396px;
    height: 38px;
  }
}

.logo__img {
  width: 100%;
  height: 20px;
  @include media-desktop {
    width: 100%;
    height: 38px;
  }
}