.social-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $color-border;

  &__row {
    border: 1px solid $color-border;
    padding: 15px 0;
    text-align: center;
  }

  &__caption {
    @extend %font-additional-1;
    @include font(normal, 500, 1.4rem, 1.6rem);
  }
}


