.newsletter {
  text-align: center;
  @extend %font-additional-1;
  @include font(normal, 400, 1.6rem, 2.2rem);
  padding: 0 0 38px;
  margin: 0 0 52px;
  border-top: solid 10px $color-dark;
  border-bottom: solid 2px $color-dark;

  &__title {
    padding: 0 65px;
    margin: 52px 0 14px;
  }

  &__subtitle {
    padding: 0 36px;
    margin: 0 0 33px;
  }

  &__form {
    @include flex(row, center, center, nowrap);
  }

  &__input {
    width: 199px;
    height: 50px;
    font-family: inherit;
    @include font(normal, 400, 1.6rem, 1.9rem);
    background-color: transparent;
    border: 2px solid $color-dark;
    outline: 0;
    padding: 0 12px;
  }

  &__button {
    @extend %font-additional-1;
    @include font(normal, 700, 1.6rem, 1.6rem);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: $color-light;
    background-color: $color-dark;
    padding: 17px;
    border: 2px solid $color-dark;
  }
}