.post {
  position: relative;

  &:after {
    content: url('/src/image/svg/eyes.svg');
    position: absolute;
    left: 50%;
    bottom: -88px;
    transform: translateX(-50%);
  }

  &__body {
    @extend %font-secondary;
    @include font(normal, 400, 1.6rem, 2.7rem);
    margin: 0 20px 42px;
  }

  &__title {
    margin: 0 20px 19px;
  }

  &__figure {
    text-align: center;
    margin: 0 auto;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__figcaption {
    @extend %font-additional-1;
    @include font(normal, 500, 1.3rem, 1.8rem);
    margin: 12px 35px 42px;
  }
}

.author {
  @include flex(row, flex-start, center, nowrap);
  gap: 16px;
  @extend %font-additional-1;
  @include font(normal, 400, 1.3rem, 1.6rem);

  &__wrapper_header {
    margin: 24px 20px;
    padding-top: 24px;
    border-top: solid $color-dark 2px;
  }

  &__wrapper_footer {
    margin: 0 20px 59px;
  }

  &__img_header {
    border-radius: 50%;
  }

  &__img_footer {
    border-radius: 50%;
    float: left;
    margin: 8px 16px 12px 0;
  }

  &__name_header {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin: 0 0 6px;
  }

  &__name_footer {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 22px;
  }

  &__description_header {
    margin: 0;
  }

  &__description_footer {
    @extend %font-tertiary;
    @include font(normal, 400, 1.4rem, 2.2rem);
    letter-spacing: 0.5px;
    margin: 6px 0 0;
  }
}

.header-table_wrapper {
  margin: 0 20px 32px;
}

.footer-table_wrapper {
  margin: 0 20px 24px;
}

.tags {
  @extend %font-additional-1;
  @include font(normal, 500, 1.4rem, 1.6rem);
  margin: 0 20px 34px;
  padding-bottom: 34px;
  border-bottom: dotted $color-dark 1px;
  border-image-source: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='8' stroke-dasharray='2%2c 12' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-image-slice: 2;

  &__ref {
    color: $color-dark;

    &:hover {
      text-decoration: none;
    }
  }
}



